<?xml version='1.0'?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dudetronics.droidstar"
    android:installLocation="auto"
    android:versionCode="-- %%INSERT_VERSION_CODE%% --"
    android:versionName="-- %%INSERT_VERSION_NAME%% --">

    <!-- %%INSERT_PERMISSIONS -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"/>

    <!--%%INSERT_FEATURES-->

    <application
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:allowBackup="true"
        android:allowNativeHeapPointerTagging="false"
        android:fullBackupOnly="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="-- %%INSERT_APP_NAME%% --"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name="org.qtproject.qt.android.bindings.QtActivity"
            android:configChanges="orientation|uiMode|screenLayout|screenSize|smallestScreenSize|layoutDirection|locale|fontScale|keyboard|keyboardHidden|navigation|mcc|mnc|density"
            android:exported="true"
            android:label="-- %%INSERT_APP_NAME%% --"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.background_running"
                android:value="true"/>

            <meta-data
                android:name="android.app.lib_name"
                android:value="-- %%INSERT_APP_LIB_NAME%% --"/>
        </activity>

        <service
            android:name="org.dudetronics.droidstar.NotificationClient"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback|microphone"
            android:stopWithTask="false"/>
    </application>
</manifest>
